@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.justificado {
    text-align: justify;
}

video {
    /*Deja video pineado en el fondo de la pagina*/
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

html,
body {
    height: 100%;
}

.viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
}

main {
    margin-top: 10%;
    background: #212222;
    color: white;
    position: relative;
    padding: 1rem;
}

html ul {
    /*encargado de restringir menu de opciones en cuanto a tamaño físico*/
    align-content: center;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    background-color: #333;
}

li {
    /*restringe caja de cada item*/
    display: inline-block;
    width: 30%;
}

li a {
    display: inline-block;
    /*restricciones de cada boton (texto dentro de este)*/
    color: #fffcf7;
    text-align: center;
    font-size: 30px;
    padding: 1%;
    text-decoration: none;
}

li a:hover {
    /*controla el tenerl el cursor sobre el boton*/
    background-color: rgb(73, 73, 73);
}

body {
    padding: 8%;
    margin: 1%;
    background-color: #7e4f4f;
    color: #fffcf7;
}

#comidas {
    margin: 10%;
    text-align: justify;
}

#menu_index {
    position: relative;
    margin: 1%;
    align-content: center;
    align-self: center;
    padding: 1%;
}

div {
    text-align: center;
}

#bajoFoto {
    position: static;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

header {
    margin: 5px;
    padding: 5px;
    position: relative;
    align-items: center;
    text-align: center;
}

#logo {
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    /*background-color: #212221;*/
    color: #fffcf7
}

#cuerpo {
    text-align: justify;
}

#FondoMenu {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(15px);
}

.btn-group-sm {
    background-color: #333333;
    outline: #212222;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.btn.btn-secondary {
    background-color: #333333;
    outline: #333333;
    border-color: #333;
}

.btn.btn-secondary a {
    color: #fffcf7;
}

.btn.btn-secondary a:hover {
    color: #fffcf7;
    background-color: #333;
}

.navbar {
    justify-content: left;
    justify-items: left;
    font-size: 12px;
}

.bg-color {
    position: fixed;
    color: #333333;
    background-color: #333333;
}

footer {
    position: relative;
}


/*#MenuMenu {
    margin: 1%;
    padding: 0%;
}*/