@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.justificado {
    text-align: justify;
}

video {
    /*Deja video pineado en el fondo de la pagina*/
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


/*Se ajusta el cuerpo de la pag en general*/

html,
body {
    height: 100%;
}


/*Se ajusta ventana de texto sobre video (puede ser que no lo necesitemos)*/

.viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
}


/*Se ajusta la clase main creada*/

main {
    padding: 1%;
    margin: 1vw;
    margin-top: 10%;
    background: #212222;
    color: white;
    position: relative;
    padding: 1rem;
    text-align: justify;
}

html ul {
    /*encargado de restringir menu de opciones en cuanto a tamaño físico*/
    align-content: center;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    background-color: #333;
}

li {
    /*restringe caja de cada item*/
    display: inline-block;
    width: 30%;
}

li a {
    display: inline-block;
    /*restricciones de cada boton (texto dentro de este)*/
    color: #fffcf7;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

li a:hover {
    /*controla el tenerl el cursor sobre el boton*/
    color: #fffcf7;
    background-color: rgb(73, 73, 73);
}

body {
    /*Opciones separadas de cuerpo (colores y margenes)*/
    background-color: #7e4f4f;
    color: #fffcf7;
}

#comidas {
    /*Ajuste de sector id comidas (carta de comidas)*/
    margin: 4%;
    text-align: justify;
}

#menu_index {
    /*Se ajusta barra de navegación presente en index*/
    position: relative;
    margin: 1%;
    align-content: center;
    align-self: center;
    padding: 1%;
}

div {
    /* Se centra texto por defecto en los div*/
    text-align: center;
}

#bajoFoto {
    /*Ajustes de texto inferior a logo de inicio*/
    position: static;
    margin: 5vh;
    padding: 5vh;
    text-align: center;
}

header {
    /*Restricciones de header*/
    margin: 1vw;
    padding: 1vw;
    position: relative;
    align-items: center;
    text-align: center;
}

#logo {
    /*Restricciones de logo y slogan*/
    margin-top: 5vw;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    /*background-color: #212221;*/
    color: #fffcf7
}

#cuerpo {
    /*Ajuste de section cuerpo*/
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

#FondoMenu {
    /*Ajustes de foto en carta de alimentos*/
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(15px);
}

.btn-group-sm {
    /*Ajustes de grupo de boton pequeño*/
    background-color: #333333;
    outline: #212222;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.btn.btn-secondary {
    /*Ajustes de boton secundario*/
    background-color: #333333;
    outline: #333333;
    border-color: #333;
}

.btn.btn-secondary a {
    /*Ajustes link dentro de los botones secundarios*/
    color: #fffcf7;
}

.btn.btn-secondary a:hover {
    /*ajustes link dentro de los botones secundarios al tener mouse arriba*/
    color: #fffcf7;
    background-color: #333;
}

.navbar {
    /*Ajustes de clase barra de navegacion*/
    justify-content: left;
    justify-items: left;
    font-size: 12px;
}

.navbar-dark {
    color: #212222;
}

.bg-color {
    /*Ajustes de color barra de navegación*/
    position: fixed;
    color: #333333;
    background-color: #212222;
}

footer {
    /*Ajustes del footer*/
    position: relative;
    width: 100%;
}

.navbar-brand {
    font-family: "Amatic SC", cursive;
}


/*Ajustes especificos para dispositivos pequeños*/

@media(min-width:320px) {
    footer {
        position: relative;
        width: 100%;
        font-size: 1rem;
    }
    html,
    body {
        height: 100%;
        font-size: 1rem;
    }
    li a {
        font-size: 1rem;
    }
    .navbar {
        font-size: 0.8rem;
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
}

@media(minx-width:768px) {
    footer {
        position: relative;
        width: 100%;
        font-size: 5rem;
    }
    html,
    body {
        height: 100%;
        font-size: 5rem;
    }
    li a {
        font-size: 5rem;
    }
    .navbar {
        font-size: 0.8rem;
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
}


/*Ajuste para tablets*/

@media(min-width:768px) {
    footer {
        position: relative;
        width: 100%;
        font-size: 2vw;
    }
    html,
    body {
        height: 100%;
        font-size: 2vw;
    }
    li a {
        font-size: 2vw;
    }
    .navbar {
        font-size: 0.8rem;
        height: 90px;
    }
}


/*Ajustes para computadoras*/

@media(min-width:992px) {
    footer {
        position: relative;
        width: 100%;
        font-size: 1.5vw;
    }
    html,
    body {
        height: 100%;
        font-size: 1.5vw;
    }
    li a {
        font-size: 2vw;
    }
    .navbar {
        font-size: 1.8rem;
    }
    .navbar-brand {
        font-size: 2.1rem;
    }
}

@media(min-width:1100px) {
    footer {
        position: relative;
        width: 100%;
        font-size: 2vw;
    }
    html,
    body {
        height: 100%;
        font-size: 2vw;
    }
    li a {
        font-size: 2vw;
    }
    .navbar {
        font-size: 1.8rem;
    }
    .navbar-brand {
        font-size: 2.1rem;
    }
}


/*Ajustes resoluciones grandes*/

@media(min-width:1200) {
    footer {
        position: relative;
        width: 100%;
        font-size: 2vw;
    }
    html,
    body {
        height: 100%;
        font-size: 2vw;
    }
    li a {
        font-size: 4vw;
    }
    .navbar {
        font-size: 2.2rem;
    }
    .navbar-brand {
        font-size: 2.5rem;
    }
}


/*#MenuMenu {
    margin: 1%;
    padding: 0%;
}*/