.justificado {
    text-align: justify;
}

#comidas {
    margin: 2cm;
}

div {
    text-align: center;
}

#bajoFoto {
    text-align: center;
}

header {
    align-items: center;
    text-align: center;
}

#logo {
    background-color: #212221;
    color: white
}