.justificado {
    text-align: justify;
}

#comidas {
    margin: 2cm;
}

div {
    text-align: center;
}

#bajoFoto {
    text-align: center;
}

header {
    align-items: center;
    text-align: center;
}