{% extends 'restaurant/main.html' %} {% load static %} {% block content %}

<div class="box-element">
    {% if pedido.count > 0 %}
    <div class="cart-row">
        <div style="flex:2"><strong>N° Seguimiento</strong></div>
        <div style="flex:2"><strong>Nombre Comprador</strong></div>
        <div style="flex:1"><strong>Cantidad Elementos</strong></div>
        <div style="flex:1"><strong>Precio</strong></div>
        <div style="flex:1"><strong>Estado</strong></div>

    </div>
    {% for ped in pedido reversed %}
    <div class="cart-row2">
        <div style="flex:2">{{ped.transaction_id}}</div>
        <div style="flex:2">{{ped.cliente}}</div>
        <div style="flex:1">{{ped.get_cart_items}}</div>
        <div style="flex:1">${{ped.get_cart_total}}</div>
        <div style="flex:1">
            {% if ped.retirado == True %}
            <p class="quantity">Retirado</p>
            {% else %} {% if ped.enRetiro == True %}
            <p class="quantity">En Retiro</p>
            {% else %} {% if ped.enPreparacion == True %}
            <p class="quantity">En Preparacion</p>
            {% else %}
            <p class="quantity">Pago procesado</p>
            {% endif %} {% endif %} {% endif %}
            <button class="btn btn-dark"><a href="{% url 'cambio' ped %}">Paso Siguiente</a></button>
        </div>
    </div>
    {% endfor %} {% else %}
    <div style="text-align:center"><strong>No Hay Pedidos Activos</strong></div>
    {%endif%}
</div>

{% endblock %}