{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOBLE ZETA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/c6fde4fad8.css">
    <link rel="stylesheet" type="text/css" href="{%static 'restaurant/css/estilo.css'%}">

</head>

<body id="target">

    <!--Imagen para fondo superior-->
    <img src="{%static 'restaurant/img/pizza.jpg'%}" alt="PizzaDoblezeta" id="FondoMenu">
    <!--Inicio de navegador-->
    <header>
        <nav class="row">
            <nav class="col-ss-12">
                <nav class="navbar navbar-dark bg-color fixed-top " id="navDiv">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{% url 'index'%}">
                            <img src="{%static 'restaurant/img/doblezetaLogo.png'%}" alt="" width="32" height="32" class="d-inline-block align-text-top"> DobleZeta
                        </a>
                        <a class="navbar-text" href="https://www.google.com/maps/dir//DOBLE+ZETA+Restaurant+%26+Cafeter%C3%ADa+-+Las+Tranqueras+117,+local+1+Esquina,+Pedro+de+Gamboa,+Las+Condes,+Regi%C3%B3n+Metropolitana/@-33.4003076,-70.5570257,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x9662cfe1e534fe7d:0x44189b4506027cfb!2m2!1d-70.554837!2d-33.4003121!3e0"
                            target="_blank">CÓMO LLEGAR </a>
                        <a class="navbar-text" href="{% url 'index'%}#nosotros">NOSOTROS</a>
                    </div>
                </nav>
            </nav>
        </nav>
    </header>
    <!--Fin de navegador-->

    <div class="row">
        <div class="col-sm-12">

            <section id="bajoFoto">
                <a href="{% url 'index'%}"><img src="{%static 'restaurant/img/Doble-Z.png'%}" alt="Logo local" width="240"></a>
            </section>

        </div>
    </div>

    <section>
        <!--Menu de tipos de alimento-->
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group-sm" role="group" aria-label="Basic example" id="menuComidas">
                    <button type="button" class="btn btn-secondary"><a href="#pizzas">PIZZAS</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#sandwiches">SANDWICHES</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#cafeteria ">CAFETERIA</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#cafeteria ">PASTELERIA</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#al_plato ">AL PLATO</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#cremas_verduras">CREMAS DE VERDURA</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#ensaladas">ENSALADAS</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#helados ">HELADOS</a></button>
                    <button type="button" class="btn btn-secondary"><a href="#bebidas">BEBIDAS, JUGOS, CERVEZAS</a></button>
                </div>
            </div>
        </div>

    </section>
    <div class="fixed-bottom hide" id="flechitaMenu">
        <button class="btn btn-dark" id="flechaMenu">
            <a href="#" class="fa fa-arrow-up"></a>
        </button>
    </div>
    <main>
        {% if user.is_authenticated%}
        <!--Se muestra esta sección  de ofertas solamene si es que quien visualiza la págian está autenticado-->
        <section id="ofertas">
            <h2>Ofertas clientes Premium</h2>
            <!-- Implementar for loop para cargar articulos desde bdd con sentencias sql y pueden verse solo por usuarios con perfil iniciado-->
            <div class="platillos">
                {%for prod in productos %}
                <div class="platillo"><img src="/{{prod.img}}" alt="Foto de pizza" width="250">
                    <h3>{{prod.nombre}}</h3>
                    <p>{{prod.desc}}</p>
                    <div class="precio">
                        {{prod.precio}}
                    </div>
                </div>
                {%endfor%}
            </div>
            {% if user.is_superuser %}
            <div class="btn btn-group" role="group">
                <button type="button" class="btn btn-secondary"><a href="{% url 'nuevoProdApi'%}">PIZZAS</a></button>
                <button type="button" class="btn btn-secondary"><a href="{% url 'editProdApi'%}">PIZZAS</a></button>
            </div>
            {% endif %}

        </section>
        {% endif %}
        <section id="pizzas">
            <h2>Pizzas</h2>
            <div class="platillos" id="pizzaP">
            </div>
        </section>
        <section id="sandwiches">
            <h2>Sándwiches</h2>
            <div class="platillos" id="sandwichP"></div>
        </section>
        <section id="cafeteria">
            <h2>Cafetería</h2>
            <div class="platillos" id="cafeteriaP"></div>
        </section>
        <section id="al_plato">
            <h2>Al plato</h2>
            <div class="platillos" id="platoP"></div>
        </section>
        <section id="bebidas">
            <h2>Bebidas</h2>
            <div class="platillos" id="bebidaP"></div>
        </section>



    </main>
    <!--FOOTER-->
    <footer class="bg-dark text-center text-white">
        <!--Contenedor de Grilla-->
        <div class="continer p-4">
            <!--Redes sociales-->
            <section class="mb-4">
                <!--Instagram-->
                <a class="btn-dark btn-outline-disabled btn-floating m-1" href="http://instagram.com/doblezeta_cafeteria" role="button">
                    <i class="fa fa-instagram"></i>
                </a>
                <!--Whatsapp-->
                <a class="btn-dark btn-outline-disabled btn-floating m-1" href="http://instagram.com/doblezeta_cafeteria" role="button">
                    <i class="fa fa-whatsapp"></i>
                </a>
                <a class="btn-dark btn-outline-disabled btn-floating m-1" href="https://www.facebook.com/doblezetacafe" role="button">
                    <i class="fa fa-facebook-f"></i>
                </a>

            </section>
            <!-- Section: Redes Sociales-->

            <!--Section: Forma (reserva)-->
            <section class="">
                <form id="formulario">
                    <!--grilla para visual-->
                    <div class="row d-flex justify-content-center">
                        <!--Columna-->
                        <div class="col-auto">
                            <p class="pt-2">

                            </p>
                        </div>
                        <!--fin Columna-->
                        <!--Columna-->
                        <div class="col-md-4">
                            <h3>Donde Encontrarnos</h3>
                            <p>Dirección: Las Tranqueras 117, local 1 Esquina, Pedro de Gamboa, Las Condes, Región Metropolitana</p>
                            <p>Teléfono: (2) 3263 2491</p>
                        </div>
                        <div class="col-md-5 col-12">
                            <!--Entrada de Email-->
                            <strong>Contáctanos</strong>
                            <div class="form-outline form-dark mb-4">
                                <input type="email" id="EntradaMail" name="entradaMail" class="form-control" placeholder="correo@ejemplo.com">
                                <input type="text" id="infoBox" name="infoBox" class="form-control" placeholder="Estimados, favor contactar a este correo..." required>
                                <label class="form-label" for="EntradaMail"></label>
                            </div>
                        </div>
                        <!--fin Columna-->

                        <!--comienzo grilla-->
                        <div class="col-auto">
                            <!--boton suscribir-->
                            <button type="submit" class="btn btn-outline-light mb-4">
                            Enviar
                        </button>
                        </div>
                        <!--fin grilla-->
                    </div>
                    <!-- fin Grilla para visualizar-->
                </form>
            </section>
        </div>
        <!--/Contenedor de Grilla-->
    </footer>
    <!--/FOOTER-->
</body>
<!--Siempre se declaran estos 3 al final del HTML (se debe mantener el orden)-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://use.fontawesome.com/db0252fb97.js"></script>
<script src="{%static 'restaurant/js/scripts.js'%}"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>


</html>