{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} {% block content %}





<body id="cuerpoLog">
    <div class="fixed-bottom show" id="flechita">
        <button class="btn btn-dark" id="flecha">
            <a href="{% url 'index'%}" class="fa fa-arrow-left"></a>
        </button>
    </div>
    <form class="login-form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <p class="login-text">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>{{ form.as_p }} {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
        <input type="submit" name="loginBTN" value="Login" class="login-submit" id="loginBTN" />
        <p class="login-text" id="mensajeError">Usuario o contraseña incorrectos</p>
        <!--Comienzo de boton de inicio por google-->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="google-btn">
                    <div class="google-icon-wrapper">
                        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                    </div>
                    <!--Se redirige a pagina de login de google-->
                    <a href="/accounts/google/login/?process=login" class="btn-text"><b>Sign in with Google</b></a>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!--Fin inicio por google-->
    </form>
    <a href="{% url 'recuperar'%}" class="login-forgot-pass">Olvidaste contraseña?</a>
    <a href="{% url 'newUser'%}" class="login-new-user"> Crear nuevo usuario</a>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
</body>


{% endblock %}